* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:  'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background: #f5f5f7;
    min-height: 100vh;
    padding: 40px 20px;
}
.glowing-button {
    font-size: 1.5rem;
    color:#fff;
    padding: 15px 30px;
    margin:10px;
    border:2px solid #000;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position:relative;
    overflow: hidden;
}

.glowing-button:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle , rgba(255,255,255,0.3), rgba(0,255,255,0) 70%);
    transition: 0.4s;
    transform: scale(0);
}
.glowing-button:hover:before {
    transform: scale(1);
}
.glowing-button:hover {
    color: #000;
    background: #761359;
    box-shadow: 0 0 15px #761359 , 0 0 60px #761359, 0 0 120px  #761359;
}
.glowing-button:active {
      transform: scale(0.95);
}
ul {
     text-align: center;
    display: flex;
    gap: 1.2rem;
    list-style: none;
}
.link {
   color:#040404;
   padding: 0.5rem ;
   position:relative;
}

.link:before {
    content: '';
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    background: #060000;
    transform: scaleX(0);
    transition: all 0.6s ease;
}
.link:before {
    bottom: 0;
    left: 0;
}
.link:hover:before {
    transform: scaleX(1);
}
.header {
    text-align: center;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 30px;
}
.tabs-container {
    display: flex;
    box-shadow: #000 0px 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 30px;
    gap: 20px;
}